---
layout: page
title: 文章归档
---
<ul> <li> {% for post in site.posts %} {% assign curYear= post.date | date: "%Y" %} {% assign curDate= post.date | date: "%m-%d" %} {% if forloop.first %} <span class="title_1">{{ curYear }}</span> <ul> <li class="title_2">{{ curDate }}<a href="{{ post.url }}">{{ post.title }}</a></li> {% else %} {% assign nextYear = post.next.date | date: "%Y" %} {% if curYear != nextYear %} </ul> </li> <li> <span class="title_1">{{ curYear }}</span> <ul> {% endif %} <li class="title_2">{{ curDate }}<a href="{{ post.url }}">{{ post.title }}</a></li> {% endif %} {% endfor %} </ul> </li> </ul>